<div class="nav_header">
  <nav>
    <div class="brand">
      <img
        class="img"
        src="./images/logo/State_Bank_of_India_logo.png"
        alt=""
        srcset=""
      />
      <div class="sbi_name">SBI</div>
    </div>
    <ul class="nav_ul">
      <li title="click on the admin">Home</li>
      <li><a href="#!/admin" class="ADMIN">Admin</a></li>
      <li>About Us</li>
      <li>Service</li>
    </ul>
    <div id="search_div">
      <input type="text" placeholder="Search.." name="search" />
      <button type="submit"><i class="fa fa-search"></i></button>
    </div>
  </nav>
</div>

<!-- <p>Name: <input type="text" ng-model="name" /></p>
<button ng-click="click()">click</button> -->
<!-- <p ng-bind="$ctrl.name"></p> -->

<!-- {{ cop }} -->
