<div class="parentOf3">
  <div class="son1OfParent3">
    <!-- left accordion -->
    <div class="leftAccHeading">CURRENT RATE</div>
    <div class="accordion">
      <div class="acc1">
        <div>
          <input type="checkbox" name="" id="c1" />
          <label for="c1" class="acc_lable">
            policy rate <i class="fas fa-sort-down fl-letf"></i
          ></label>
          <div class="tab-content">
            <li class="li">Policy Repo Rate : 4.40%</li>
            <li class="li">Reverse Repo Rate : 3.75%</li>
            <li class="li">Marginal Standing Facility Rate : 4.65%</li>
            <li class="li">Bank Rate : 4.65%</li>
          </div>
        </div>

        <div>
          <input type="checkbox" name="" id="c2" />
          <label for="c2" class="acc_lable">
            Reverse Ratio <i class="fas fa-sort-down fl-letf"></i
          ></label>
          <div class="tab-content">
            <li class="li">CRR : 3%</li>
            <li class="li">SLR : 18.00%</li>
          </div>
        </div>

        <div>
          <input type="checkbox" name="" id="c3" />
          <label for="c3" class="acc_lable">
            echange rates <i class="fas fa-sort-down fl-letf"></i
          ></label>
          <div class="tab-content">
            <li class="li">
              FBIL Reference Rate www.fbil.org.in
            </li>
          </div>
        </div>

        <div>
          <input type="checkbox" name="" id="c4" />
          <label for="c4" class="acc_lable"
            >diposite rate <i class="fas fa-sort-down fl-letf"></i
          ></label>
          <div class="tab-content">
            <li class="li">Base Rate : 8.15% - 9.40%</li>
            <li class="li">MCLR (Overnight) : 7.10% - 7.50%</li>
            <li class="li">Savings Deposit Rate : 2.75% - 3.50%</li>
            <li class="li">Term Deposit Rate > 1 Year : 5.70% - 6.00%</li>
          </div>
        </div>
        <div>
          <img
            src="../images/rbi logos/Banking-Ombudsman-RBI-India.png"
            alt=""
            width="100%"
            height="100%"
            class="tiger"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="son2OfParent3">
    <div class="tab-bottons">
      <div class="tab-bot1" ng-click="showTab()">what's new</div>
      <div class="tab-bot2" ng-click="showTab()">section update today</div>
    </div>

    <div class="tab1-contents" ng-style="showTab1" id="tab_content">
      <div class="li">
        Conversion/Switch of Government of India (GoI)’s Securities
      </div>
      <div class="li">Monthly Bulletin for May 2020</div>

      <div class="li">
        RBI Working Paper No. 06/2020: Liquidity Shocks and Overnight Interest
        Rates in Emerging Markets: Evidence from GARCH Models for India
      </div>

      <div class="li">
        Interest Equalisation Scheme on Pre and Post Shipment Rupee Export
        Credit- Extension
      </div>

      <div class="li">
        RBI Working Paper No. 05/2020: Core Inflation Measures in India – An
        Empirical Evaluation using CPI Data
      </div>

      <div class="li">
        Revised Issuance Calendar for Marketable Dated Securities for the
        remaining period of H1 (May 11 - September 30, 2020)
      </div>

      <div class="li">
        Shri Tarun Bajaj, Secretary, Department of Economic Affairs, nominated
        on RBI Central Board
      </div>

      <div class="li">
        FAQs on Cash Withdrawal Facility at Point of Sale (PoS) Terminals
      </div>

      <div class="li">
        RBI Governor meets representatives of NBFCs and Mutual Funds over Video
        Conference
      </div>
    </div>

    <div class="tab1-contents" ng-style="showTab2" style="opacity: 0;">
      <div class="li">Press Releases</div>
      <div class="li">Tenders</div>
    </div>
  </div>

  <div class="son3OfParent3">
    <div class="leftAccHeading">FUNCTIONWISE SITES</div>
    <div class="accordion">
      <div class="acc1">
        <div>
          <input type="checkbox" name="" id="c5" />
          <label for="c5" class="acc_lable">
            Monetary Policy<i class="fas fa-sort-down fl-letf"></i
          ></label>
          <div class="tab-content">
            <li class="li">Overview</li>
            <li class="li">Monetary Policy Statements</li>
            <li class="li">Notifications</li>
            <li class="li">Press Release</li>
          </div>
        </div>

        <div>
          <input type="checkbox" name="" id="c6" />
          <label for="c6" class="acc_lable">
            Research and Data <i class="fas fa-sort-down fl-letf"></i
          ></label>
          <div class="tab-content">
            <li class="li">Overview Notifications</li>
            <li class="li">Forms Press Release</li>
            <li class="li">Working Papers l</li>
            <li class="li">Speeches</li>
            <li class="li">Research Porta</li>
          </div>
        </div>

        <div>
          <input type="checkbox" name="" id="c7" />
          <label for="c7" class="acc_lable">
            Issuer of Currency <i class="fas fa-sort-down fl-letf"></i
          ></label>
          <div class="tab-content">
            <li class="li">
              Overview
            </li>
            <li class="li">Notifications</li>
            <li class="li">Press Release</li>
            <li class="li">Speeches</li>
            <li class="li">FAQs</li>
            <li class="li">Right to Information Act- Disclosure log</li>
            <li class="li">Paisa Bolta Hai</li>
            <li class="li">MANI-Mobile Aided Note Identifier</li>
            <li class="li">All You Wanted To Know About SBNs</li>
            <li class="li">Mint Street Memos</li>
          </div>
        </div>

        <div>
          <input type="checkbox" name="" id="c8" />
          <label for="c8" class="acc_lable"
            >Finalcial Markets<i class="fas fa-sort-down fl-letf"></i
          ></label>
          <div class="tab-content">
            <li class="li">Overview</li>
            <li class="li">Notifications</li>
            <li class="li">Press Release</li>
            <li class="li">Speeches</li>
            <li class="li">
              Right to Information Act- Disclosure log
            </li>
            <li class="li">Financial Markets Watch</li>
          </div>
        </div>
        <div>
          <img
            src="../images/rbi logos/Banking-Ombudsman-RBI-India.png"
            alt=""
            width="100%"
            height="100%"
            class="tiger"
          />
        </div>
      </div>
    </div>
  </div>
</div>
